@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/static/OpenSans/OpenSans-Bold.ttf"); }

.ContenedorHeader__header {
  width: 99vw;
  height: 12vh;
  background-color: #4d2517c7;
  box-shadow: 0 0 15px #000000;
  animation: animate__fadeInDown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.ContenedorHeader {
  position: sticky;
  top: 0; }

.ContenedorHeader__header__nav__ulnav {
  position: relative;
  right: 28px; }

.nav-link {
  font-family: 'Mystery Quest', cursive;
  font-size: 150%; }

.MainIndex__Titulo {
  font-family: 'OpenSans';
  color: #bababa;
  text-align: center;
  position: relative;
  top: 10px;
  text-shadow: -1px -1px 0.5px #000, 1px 1px 0.5px #000, -1px 1px 0.5px #000, 1px -1px 0.5px #000; }

.MainIndex {
  background-color: #333333b2; }

.MainIndex__Flexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 99vw;
  height: 70vh; }

.MainIndex__Flexbox__Texto {
  width: 35vw;
  align-content: center;
  justify-content: center;
  align-items: center; }

.MainIndex__Flexbox__Texto__p {
  color: #bababa;
  font-size: 3rem; }

.MainIndex__Flexbox__Imagen {
  width: 35vh;
  align-content: center;
  justify-content: center;
  text-align: center; }

.imgmain {
  border-radius: 10px;
  box-shadow: 0 0 15px #ffffff;
  height: 479px; }

.footer {
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  align-items: center;
  justify-content: space-between;
  height: 15vh; }

.footer__p {
  color: #f0f8ff;
  position: relative;
  left: 15px; }

.iconos {
  position: relative;
  right: 15px; }

.icon-ig {
  content: url("https://api.iconify.design/mdi/instagram.svg?color=%23ffe&width=48&height=48"); }

.icon-fb {
  content: url("https://api.iconify.design/ph/facebook-logo-bold.svg?color=%23ffe&width=48&height=48"); }

.icon-ws {
  content: url("https://api.iconify.design/ic/baseline-whatsapp.svg?color=%23ffe&width=48&height=48"); }

@media screen and (max-width: 413px) {
  .ContenedorHeader__header__nav__ulnav {
    position: absolute;
    up: 100px;
    background-color: #4d2517c7; }
  .ContenedorHeader__header {
    width: 100vw;
    height: 12vh;
    background-color: #4d2517c7;
    box-shadow: 0 0 15px #000000;
    animation: animate__fadeInDown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .MainIndex__Flexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 40vh; }
  .MainIndex__Flexbox__Texto {
    width: 35vw;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .MainIndex__Flexbox__Texto__p {
    color: #bababa;
    font-size: 1rem; }
  .MainIndex__Flexbox__Imagen {
    width: 35vh;
    align-content: center;
    justify-content: center;
    text-align: center; }
  .imgmain {
    border-radius: 10px;
    box-shadow: 0 0 15px #ffffff;
    height: 320px; }
  .texto1 {
    font-size: xx-small; } }

.MainNosotros__Titulo {
  font-family: 'OpenSans';
  color: #bababa;
  text-align: center;
  text-shadow: -1px -1px 0.5px #000, 1px 1px 0.5px #000, -1px 1px 0.5px #000, 1px -1px 0.5px #000; }

.MainNosotros__Container {
  display: grid;
  grid-template-areas: "imagen1 texto1" "texto2 imagen2" "imagen3 texto3" "texto4 imagen4" "imagen5 texto5";
  grid-template-rows: auto;
  grid-template-columns: 30vw 30vw;
  gap: 10px;
  justify-content: center; }

.imagen1 {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: imagen1; }

.texto1 {
  background-color: #bababa9f;
  grid-area: texto1;
  border-radius: 10px; }

.imagen2 {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: imagen2; }

.texto2 {
  grid-area: texto2;
  background-color: #bababa9f;
  border-radius: 10px; }

.imagen3 {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: imagen3; }

.texto3 {
  background-color: #bababa9f;
  grid-area: texto3;
  border-radius: 10px; }

.imag {
  border-radius: 20px; }

.MainAdopta, .uladopta, figure {
  margin: 0;
  padding: 0; }

.uladopta {
  list-style: none;
  display: flex; }

.uladopta .liadopta {
  width: 48%; }

.uladopta .liadopta figure {
  padding: 5px;
  position: relative; }

.uladopta .liadopta figure:hover figcaption {
  display: block; }

.uladopta .liadopta figcaption {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #4d2517d9;
  text-align: center;
  padding: 15px;
  font: 20px/30px;
  color: #bababa; }

.adoptaimagen {
  width: 100%; }

.tituloadopta {
  font-family: 'OpenSans';
  color: #bababa;
  text-align: center;
  text-shadow: -1px -1px 0.5px #000, 1px 1px 0.5px #000, -1px 1px 0.5px #000, 1px -1px 0.5px #000; }

.padopta {
  color: #bababa;
  font-size: 2rem;
  text-align: center; }

.icon-email {
  content: url("https://api.iconify.design/ic/outline-email.svg?color=white&width=64&height=64"); }

.ContactoMain__Texto {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.TituloContacto {
  font-family: 'OpenSans';
  color: #bababa;
  text-align: center;
  text-shadow: -1px -1px 0.5px #000, 1px 1px 0.5px #000, -1px 1px 0.5px #000, 1px -1px 0.5px #000; }

.ContactoMain {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #333333b2; }

.ContactoMain__Formulario {
  background-color: #bababaad;
  position: relative;
  left: 10px; }

.BotonEnviar {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 4px; }

.emailtexto {
  color: #bababa;
  font-size: 1.5rem; }

#footer {
  position: relative;
  top: 232px; }

.ContenedorHeader__header {
  width: 100vw; }

#footer2 {
  position: relative;
  top: 363px; }

label {
  display: inline-block;
  width: 80px; }

.formulario {
  background-color: #bababab2; }

.botonregis {
  position: relative;
  left: 220px; }

html {
  height: 100%; }

body {
  min-height: 100%; }

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0; }

p, h2, h3 {
  font-family: "Mystery Quest", cursive; }

.body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  /*no repite la imagen*/
  background-size: cover;
  /*la imagen se estira para entrar en el contenedor*/
  background-position: center;
  /*si la imagen no ocupa todo el contenedor se puede centrar*/
  background-attachment: fixed;
  /*esto hace que la imagen siempre este fija, y el contenido se mueva*/ }
