$color-blanco-regis : #bababab2;
#footer2{
    position: relative;
    top: 372.5px;
}

label {
    display: inline-block;
    width: 80px;
}

.formulario{
    background-color: $color-blanco-regis;
}

.botonregis{
    position: relative;
    left: 220px;
}

.ContenedorHeader{
    z-index: 100;
}

