$color-blanco-regis : #bababab2;
#footer2{
    position: relative;
    top: 363px;
}

label {
    display: inline-block;
    width: 80px;
}

.formulario{
    background-color: $color-blanco-regis;
}

#header{
    position: relative;
    left: 10px;
    display: block;
      height:120%;
overflow-x:auto;
}